.h-500x {
    height: 500px !important;
}

.bg-4 {
    background: url(../img/slider_2_1920_600.jpg) no-repeat center;
    background-size: cover;
}
.mt-40 {
    margin-top: 40px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}
.center-text {
    text-align: center!important;
}
.plr-25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.mlr-5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}

img {
    width: 100%;
}
h2 {
    font-size: 4em;
    line-height: 1.4;
}
h1, h2, h3, .font-beyond {
    font-family: 'beyond_the_mountainsregular', sans-serif;
}
.mt-50 {
    margin-top: 50px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.btn-primaryc {
    position: relative;
    text-align: center;
    height: 55px;
    line-height: 50px;
    background: #EF0031;
    color: #fff;
    border-radius: 3px;
    z-index: 1;
}
.btn-primaryc:before {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 2px;
    background: #FFFFFF;
    z-index: -1;
    -webkit-transition: all .1s .2s ease-in;
    transition: all .1s ease-in;
}
.btn-primaryc:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #1F8330;
    z-index: -2;
    -webkit-transition: all .1s ease-in;
    transition: all .1s .1s ease-in;
}
.btn-primaryc:before {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 2px;
    background: #FFFFFF;
    z-index: -1;
    -webkit-transition: all .1s .2s ease-in;
    transition: all .1s ease-in;
}
.btn-primaryc:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #1F8330;
    z-index: -2;
    -webkit-transition: all .1s ease-in;
    transition: all .1s .1s ease-in;
}
.bg-seller {
    background: url(../images/sellers-1-1600x1600.jpg) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.color-white {
    color: #fff !important;
}
.pos-relative {
    position: relative;
    z-index: 1;
}
.story-area {
    position: relative;
    background: #fff;
}
.pos-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.triangle-up:after {
    content: '';
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: url(../images/triangle_bg.png) repeat-x;
    background-size: 26px 10px;
}
.triangle-up:after {
    content: '';
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: url(../images/triangle_bg.png) repeat-x;
    background-size: 26px 10px;
}
.triangle-bottom:after {
    content: '';
    height: 10px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background: url(../images/triangle_bg.png) repeat-x;
    background-size: 26px 10px;
    transform: rotate(
180deg
);
    -webkit-transform: rotate(
180deg
);
}
.heading {
    position: relative;
    text-align: center;
    margin-bottom: 70px;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.pb-90 {
    padding-bottom: 90px !important;
}

.left-text {
    text-align: left !important;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.mt-20 {
    margin-top: 20px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}
.color-ash {
    color: #aaa;
}
.mb-20 {
    margin-bottom: 20px !important;
}

.circle-60 {
    height: 60px;
    width: 60px;
    border-radius: 60px;
}
h6 {
    font-size: .95em;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    font-weight: inherit;
}
.color-primary {
    color: #EF0031;
}
.mt-20 {
    margin-top: 20px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}
.color-ash {
    color: #aaa;
}
.mb-20 {
    margin-bottom: 20px !important;
}

.circle-60 {
    height: 60px;
    width: 60px;
    border-radius: 60px;
}
h6 {
    font-size: .95em;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
    font-weight: inherit;
}
.bg-seller:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0,0,0,.85);
}
.left-text {
    text-align: left !important;
}
/* ////// */
.icon-gradient.icon-pizza {
    background-position: 0 0;
}
.mlr-auto {
    margin-left: auto;
    margin-right: auto;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.icon-gradient {
    display: block;
    height: 80px;
    width: 80px;
    background: url(../images/icons.png) no-repeat;
    background-size: cover;
    background-position: 0;
}